.rating {
	position: relative;
	width: 160px;
}
.ratingBody {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	top: 0;
	left: 0;
}

.ratingActive {
	width: 56%;
	position: absolute;
	display: flex;
	align-items: flex-end;
	top: 0;
	left: 0;
	overflow: hidden;
}

.ratingUp {
	margin-left: 3.33px;
	width: 12.58px;
	background-color: #999999;
}

.ratingButton {
	margin-left: 3.33px;
	min-width: 12.58px;
	background-color: #ff0000;
}
.item-1 {
	height: 6.28px;
}
.item-2 {
	height: 9.43px;
}
.item-3 {
	height: 12.58px;
}
.item-4 {
	height: 15.72px;
}
.item-5 {
	height: 18.87px;
}
.item-6 {
	height: 22.01px;
}
.item-7 {
	height: 25.15px;
}
.item-8 {
	height: 28.3px;
}
.item-9 {
	height: 31.44px;
}
.item-10 {
	height: 34.58px;
}
